page-cardapio {
	ion-card-header{
		background-color: blue;
		color: white;
		font-weght: bold;
	}

	ion-card-header span{
		color: white;
	}

	.card-content-md{
		padding: 0;
	}

	.btn-delete{
		background-color: transparent;
		color: white;
		position: absolute;
		right: 40px;
	}

	.btn-add{
		background-color: transparent;
		position: absolute;
		right: 15px;
	}
	
}
