
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="list"></ion-icon>
    </button>
    <ion-title>Categoria</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>

	  <ion-item>
	    <ion-label floating>Nome</ion-label>
	    <ion-input [(ngModel)]="categoria.nome" type="text"></ion-input>
	  </ion-item>

	</ion-list>

	<button (click)="criar()" ion-button clear color="dark">Criar</button>

	<ion-card *ngFor="let c of lista; index as i">
	  <ion-card-header>
	    <span>{{c.nome}}</span> 
	    <button (click)="delete(c._id, i)" class="btn-delete" clear><ion-icon name="trash"></ion-icon></button>
	  </ion-card-header>
	  <ion-card-content>
	    
			<ion-list>
				<ion-item>Pratos: {{c.pratos.length}}</ion-item>
			
				<ion-item>
					<ion-card *ngFor="let p of c.pratos">
						<ion-card-header>
							<span>{{p.nome}}</span>
							<button class="btn-delete" clear><ion-icon name="trash"></ion-icon></button>	
						</ion-card-header>
					</ion-card>
				</ion-item>
			</ion-list>

	  </ion-card-content>
	</ion-card>
</ion-content>
